html {
  font-size: 24px;
  margin-top: 2em;
  background: url(./images/padded-1920x1080.jpeg) no-repeat center center fixed;
  background-size: cover;
}
header img {
  width: 900px;
}

.Navbar {
  background-color: #46acc2;
  display: flex;
  padding: 16px;
  font-family: sans-serif;
  color: white;
}

.Navbar__Link {
  padding-right: 8px;
}

.Navbar__Items {
  display: flex;
}

.Navbar__Items--right {
  margin-left: auto;
}

.Navbar__Link-toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }

  .Navbar__Items {
    display: none;
  }

  .Navbar__Items--right {
    margin-left: 0;
  }

  .Navbar__ToggleShow {
    display: flex;
  }

  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
}

nav {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(20, 58, 107, 0.782);
}
nav a {
  padding: 1em 4em;
  color: black;
  font-weight: bold;
}
* {
  font-family: Arial, sans-serif;
  line-height: 2em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  padding: 15em 0 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
}
header,
main,
footer {
  margin: 1em auto;
  max-width: 95%;
}
header h1 {
  font-size: 3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

h1,
h2,
h3 {
  color: rgba(20, 58, 107, 0.782);
}
header span {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  align-content: center;
  font-size: 2.3em;
  color: black;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  font-weight: bold;
}
h3 {
  display: flex;
  font-size: 1.5em;
  align-content: left;
  font-weight: bold;
}
* {
  box-sizing: border-box;
}
.container {
  display: inline;
}
article {
  background-color: rgb(55, 127, 120);
  border: black solid 2px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  height: fit-content;
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 1em;
}
#guessingGame img {
  width: 100%;
  border: 1px;
  border-radius: 7px;
}
#contactInformation img,
#articleGithub img,
#articleFreeCodeCamp img {
  height: 40px;
}

h2,
p #fun-fact {
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
